.box{
    background-color:rgb(128,112,250,0.25);
    margin:1px;
    height:60px;
    width: 60px;
   
}
.boxOn{
    background-color: rgb(128,112,250,0.25);
    border-color: white;
}
.clickedBox{
    transform: rotateY(180deg);
    transition:0.2s;
    background-color:rgb(93, 151, 153);
    margin:1px;
    height:60px;
    width: 60px;
}
.close{
    background-color:rgb(128,112,250,0.25);
    transform: rotateY(180deg);
    transition:5s;
}