.inputBox {
  width: 700px;
  height: 80px;
  border-radius: 0;
  border: solid 0.5px;
  border-left: 0;
  border-color: rgb(71, 69, 69, 0.5);
  font-size: 24px;
  color: #4d4d4d;
  box-shadow: 10px 10px 10px 10px rgba(218, 218, 218, 0.5);
}
.arrow {
  height: 25px;
  width: 35px;
  opacity: 0.2;
}
.imageContainer {
  height: 82px;
  width: 80px;
  border: solid 1px;
  border-color: rgb(71, 69, 69, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0px;
  background: white;
}
.inputField {
  display: flex;
}
