.statusBar {
  width: 785px;
  height: 60px;
  border: none;
  border-top: 0;
  border-color: rgb(71, 69, 69, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px white,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px white,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
}
.itemsLeft {
  margin-left: 20px;
  font-size: 14px;
  color: #777777;
}
.clearComplete {
  width: 140px;
  font-size: 14px;
  color: #777777;
  cursor: pointer;
}
.clearComplete:hover {
  text-decoration: underline;
}
.filters {
  font-size: 14px;
  color: #777777;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.filterButton {
  background-color: white;
  font-size: 14px;
  color: #777777;
  border: none;
  cursor: pointer;
}
.activeFilterButton {
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(175, 45, 45, 0.2);
  background-color: white;
  font-size: 14px;
  color: #777777;
  cursor: pointer;
}
