.completeStatus {
  width: 80px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.round {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 2px #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkedRound {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 1px #2b833c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkedImage {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
