.todoRow {
  width: 783px;
  height: 80px;
  border: none;
  border-top: 0;
  border-color: rgb(71, 69, 69, 0.5);
  display: flex;
  background: white;
  box-shadow: 10px 10px 10px 10px rgba(218, 218, 218, 0.5);
}
